 {% extends "base.html" %} {% block content %}
<div>
    <h1>My Gallery </h1>
</div>
<div>Here is my gallery</div>
{% extends 'base.html' %} {% block content %} {{block.super}}
<div class="container-fluid" style="background-color: black; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome To My Gallery Hub</h1>
            <p class="lead">This are the <strong>Categories to be searched;food,bikes,scenery,animals;</strong></p>
        </div>
    </div>
    <div class="column container">
        {% for image in image %}
        <div class="col-md-4 col-sm-4 col-xs-4">
            <img src="{{image.image.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 300px;height:200px" data-toggle="modal" data-target="#{{ image.id }}">
        </div>
        <!-- Modal -->
        <div class="modal fade center" id="{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right" role="document">
                <div class="modal-content">
                    <div class="modal-heading">
                        <h3 class="modal-title w-100 text-center" id="imagetitle"> {{image.image_name}}</h3>
                        <button type="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top img-responsive" id="img{{image.id}}" src="{{image.image.url}}" alt="Card image cap">
                        <p class="card-text photo ">Image description : {{image.image_description}}.</p>
                        <p class="card-text shot">Location: {{image.image_location}}</p>
                        <p class="card-text cate">Category: {{image.image_category}}</p>
                    </div>
                    <div class="modal-footer text-center">
                        <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}.url">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for item in location_images %}
    <a class="button p-3" id="btn" href="/location/{{item.location_name}}">{{item.location_name}}</a> {% endfor %}
</div>
{% endblock %}